.u-section-1 .u-sheet-1 {
  min-height: 237px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -1px;
  margin-bottom: 39px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 199px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 17px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 223px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 224px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 497px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 275px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -1px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 274px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 343px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 324px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 195px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 455px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 52px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 804px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 261px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-1 {
  margin: 0 335px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 335px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 335px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-4 {
  margin: 30px 500px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 921px 0 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 976px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 152px 0 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 840px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 20px 548px 0 0;
}

.u-section-2 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-list-1 {
  margin: 20px -20px 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 0px 0px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 94px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 135px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 135px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 300px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 721px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 776px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-right: 640px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-right: 348px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 5px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 313px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 207px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 80px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 501px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 556px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 420px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 128px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 5px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 386px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 7px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 2px;
    margin-right: 152px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 321px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 376px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 240px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 15px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 290px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 1px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 121px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 226px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 40px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 15px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 30px;
  margin-left: 0;
}

.u-section-3 .u-text-2 {
  margin: 10px auto 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-3 {
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 25px auto 0 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-5 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 60px;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 21px;
    margin-right: 595px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 8px;
    margin-right: 455px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-right: 763px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 14px;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-right: 627px;
    margin-bottom: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 375px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 235px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 543px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 407px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 195px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 55px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 363px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 227px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 126px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 163px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 27px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 520px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 640px;
  margin: 60px auto;
}

.u-section-4 .u-image-1 {
  min-height: 200px;
  background-image: url("images/book-ai.png");
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  min-height: 200px;
  background-image: url("images/rtip2r2021.png");
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  min-height: 200px;
  background-image: url("images/book-ai-ml-healthcare.png");
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  background-image: url("images/ijdar.jpg");
  min-height: 200px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-5 {
  min-height: 200px;
  background-image: url("images/book-dl-medical-imaging2.png");
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-image-6 {
  min-height: 200px;
  background-image: url("images/book-coverS2017.png");
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-image-7 {
  min-height: 200px;
  background-image: url("images/book-covid1.png");
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-image-8 {
  background-image: url("images/book-MedImag.jpg");
  min-height: 200px;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2520px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    min-height: 600px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 675px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 675px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    min-height: 675px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    min-height: 675px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-6 {
    min-height: 675px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-7 {
    min-height: 675px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-8 {
    min-height: 675px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1740px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 405px;
  }

  .u-section-4 .u-image-2 {
    min-height: 425px;
  }

  .u-section-4 .u-image-3 {
    min-height: 425px;
  }

  .u-section-4 .u-image-4 {
    min-height: 425px;
  }

  .u-section-4 .u-image-5 {
    min-height: 425px;
  }

  .u-section-4 .u-image-6 {
    min-height: 425px;
  }

  .u-section-4 .u-image-7 {
    min-height: 425px;
  }

  .u-section-4 .u-image-8 {
    min-height: 425px;
  }
}