.u-section-1 .u-sheet-1 {
  min-height: 92px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 20px;
  margin-top: 20px;
}.u-section-2 .u-sheet-1 {
  min-height: 1826px;
}

.u-section-2 .u-blog-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 1706px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 40px 0 0 609px;
}

.u-section-2 .u-image-1 {
  width: 594px;
  height: 256px;
  margin: -66px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: -168px 0 0 609px;
}

.u-section-2 .u-metadata-1 {
  margin: 22px 352px 0 auto;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  background-image: none;
  margin: 15px 325px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 40px 0 0 609px;
}

.u-section-2 .u-image-2 {
  width: 594px;
  height: 256px;
  margin: -66px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: -168px 0 0 609px;
}

.u-section-2 .u-metadata-2 {
  margin: 22px 352px 0 auto;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  background-image: none;
  margin: 15px 325px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 40px 0 0 609px;
}

.u-section-2 .u-image-3 {
  width: 594px;
  height: 256px;
  margin: -66px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: -168px 0 0 609px;
}

.u-section-2 .u-metadata-3 {
  margin: 22px 352px 0 auto;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  background-image: none;
  margin: 15px 325px 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 40px 0 0 609px;
}

.u-section-2 .u-image-4 {
  width: 594px;
  height: 256px;
  margin: -66px auto 0 0;
}

.u-section-2 .u-text-8 {
  margin: -168px 0 0 609px;
}

.u-section-2 .u-metadata-4 {
  margin: 22px 352px 0 auto;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  background-image: none;
  margin: 15px 325px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-blog-1 {
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 409px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 409px;
  }

  .u-section-2 .u-metadata-1 {
    margin-right: 152px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 125px;
    padding: 7px 15px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 409px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 409px;
  }

  .u-section-2 .u-metadata-2 {
    margin-right: 152px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 125px;
    padding: 6px 15px 7px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 409px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 409px;
  }

  .u-section-2 .u-metadata-3 {
    margin-right: 152px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 125px;
    padding: 7px 15px 8px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 409px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 409px;
  }

  .u-section-2 .u-metadata-4 {
    margin-right: 152px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 125px;
    padding: 7px 15px 8px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 189px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 189px;
  }

  .u-section-2 .u-metadata-1 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 189px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 189px;
  }

  .u-section-2 .u-metadata-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 189px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 189px;
  }

  .u-section-2 .u-metadata-3 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 189px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 189px;
  }

  .u-section-2 .u-metadata-4 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 49px;
  }

  .u-section-2 .u-image-1 {
    width: 520px;
    height: 224px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -136px;
    margin-left: 49px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 49px;
  }

  .u-section-2 .u-image-2 {
    width: 520px;
    height: 224px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -136px;
    margin-left: 49px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 49px;
  }

  .u-section-2 .u-image-3 {
    width: 520px;
    height: 224px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -136px;
    margin-left: 49px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 49px;
  }

  .u-section-2 .u-image-4 {
    width: 520px;
    height: 224px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -136px;
    margin-left: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 138px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -137px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    margin-top: -242px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 320px;
    height: 138px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -50px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
    margin-top: -242px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    width: 320px;
    height: 138px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -50px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
    margin-top: -242px;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    width: 320px;
    height: 138px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -50px;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}.u-section-4 .u-sheet-1 {
  min-height: 400px;
}.u-section-5 .u-sheet-1 {
  min-height: 437px;
}